<mat-card>
    <mat-card-title>Pokémon App</mat-card-title>
    <mat-form-field>
        <input type="text" matInput placeholder="Search..." [(ngModel)]= "searchTerm">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button id="searchbutton" mat-raised-button color="accent" (click)="onNavigateClick(['searchresult'], searchTerm)">Search</button>
    <mat-grid-list id="pokeList" [cols]="breakpoint" rowHeight="3:2" (window:resize)="onResize($event)" guttersize="'10px'">
      <mat-grid-tile *ngFor="let pokemon of griddedPokemons$ | async">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
            <mat-panel-title>
              <div class="imagebase">
                <img class="thumbnail" src={{pokemon.imageURL}}>
              </div>
              <h3>{{pokemon.name | titlecase}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-grid-content">
            <h4><span class="material-icons">favorite</span> {{pokemon.hp}} HP</h4>
            <button mat-raised-button color="accent" (click)="onNavigateClick(['searchresult'], pokemon.name)">See more</button>
          </div>
      </mat-expansion-panel>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>