mat-expansion-panel {
    height: auto!important;
}

mat-expansion-panel-header {
    height: auto!important; 
}

.imagebase {
    height: 80%;
    align-content: center;
}

.thumbnail {
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 5px;
}