<router-outlet></router-outlet>
<mat-card>
    <mat-card-title>Pokémon App</mat-card-title>
    <mat-form-field>
        <input type="text" matInput placeholder="Search..." [(ngModel)]= "searchTerm">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="getPokemonByName()">Search</button>
    <mat-grid-list id="pokeList" cols="4" rowheight="100%">
      <mat-grid-tile *ngFor="let pokemon of griddedPokemons$ | async">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title><h3>{{pokemon.name}}</h3>
              <div class="imagebase"><img class="thumbnail" src={{pokemon.imageURL}}></div></mat-panel-title>
          </mat-expansion-panel-header>        
        <h4><span class="material-icons">favorite</span> {{pokemon.hp}} HP</h4>
      </mat-expansion-panel>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
