<mat-card>
    <mat-card-title>Search Result</mat-card-title>
    <button mat-raised-button color="accent" (click)="onNavigateClick(['home'])">Back</button>
    <!--<button mat-raised-button color="primary" (click)="getPokemonList()">Get all</button>-->
    <mat-grid-list cols="3" rowHeight="5:2">
      <mat-grid-tile>
        <mat-grid-tile-header><h3>{{pokemon$ | async}}</h3></mat-grid-tile-header>
        <div><h4>{{pokemon$ | async}} HP</h4></div>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>