<mat-card>
    <mat-card-title>Search Result</mat-card-title>
    <button mat-raised-button color="accent" (click)="onNavigateClick(['home'])">Back</button>
    <!--<button mat-raised-button color="primary" (click)="getPokemonList()">Get all</button>-->
    <mat-card id="pokemonCard" *ngIf="pokemon$ | async as pokemon">
      <h3>{{pokemon.name | titlecase}}</h3>
      <h4><span class="material-icons">favorite</span> {{pokemon.hp}} HP</h4>
      <div class="imagebase">
        <img class="thumbnail" src={{pokemon.imageURL}}>
      </div>
    </mat-card>
</mat-card>